.mouseenterClass{
    background-color:darkcyan; 
    height: 100px; 
    width: 100px; 
    margin: 40px;
    margin-top:2px ;
}


.mouseenterClass>div{
    background-color:darkkhaki;
    height: 50px; 
    width: 50px;
    margin: auto;
    position: relative;
    top: 25px;

}


.mousemoveClass{
    background-color:chartreuse;
    height: 300px;
    width: 300px;
}

.mousemoveClass>div{
    background-color: beige;
    height: 100px;
    width: 100px;
    margin: auto;
    position: relative;
    top: 100px;
}
