.container{
    display: flex;
    background-color: burlywood;
    margin: 15px 0;
    height: 800px;
}
.container>p{
    background: whitesmoke;
    width:100px;
    height: 30px;
    font-size:30px;
    margin:10px;
    padding:30px;
    text-align: center;
}
.container1{
    justify-content: space-evenly;
}
.container-2{
    
    flex-flow: column wrap;
    align-content:flex-start;

}
.container-3{
    height: 500px;
    flex-flow: column;
   justify-content: space-around;
   align-items: center;
   /* align-content: ; */
}
.container-3>p{
    width:50px;
}